<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/scms</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">ok</property>
		<property name="hibernate.connection.autocommit">false</property>
		
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
				
		<!-- keep alphabetical order please -->
		<mapping resource="META-INF/model/AbstractPage.hbm.xml"/>
		<mapping resource="META-INF/model/Category.hbm.xml"/>
		<mapping resource="META-INF/model/Image.hbm.xml"/>
		<mapping resource="META-INF/model/MenuItem.hbm.xml"/>
		<mapping resource="META-INF/model/User.hbm.xml"/>
		
	</session-factory>

</hibernate-configuration>
        