<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<description>
		Simple content management system
	</description>
	<display-name>Simple CMS</display-name>
	<!-- 
		tapestry5 configuration
	-->
	<context-param>
		<!--
			The only significant configuration for Tapestry 5, this informs
			Tapestry of where to look for pages, components and mixins.
		-->
		<param-name>tapestry.app-package</param-name>
		<param-value>cz.koroptev.mcms</param-value>
	</context-param>
	<context-param>
		<param-name>tapestry.production-mode</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>tapestry.charset</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<context-param>
		<param-name>tapestry.hibernate.early-startup</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>tapestry.hibernate.default-configuration</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>tapestry.supported-locales</param-name>
		<param-value>en,cs</param-value>
	</context-param>
	
	<!-- 
		hibernate application configuration
	-->
	<context-param>
		<param-name>hibernate.connection.driver_class</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>hibernate.dialect</param-name>
		<param-value>org.hibernate.dialect.MySQLInnoDBDialect</param-value>
	</context-param>
	<context-param>
		<param-name>hibernate.connection.url</param-name>
		<param-value>jdbc:mysql://localhost:3306/mcms</param-value>
	</context-param>
	<context-param>
		<param-name>hibernate.connection.username</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>hibernate.connection.password</param-name>
		<param-value>ok</param-value>
	</context-param>
	
	<!-- 
		custom application configuration, configuration here can be override by system property.
	-->
	<context-param>
		<param-name>mcms.dataBasePath</param-name>
		<!-- if it's empty project root will be taken -->
		<param-value>src/main/webapp</param-value>
	</context-param>
	<context-param>
		<param-name>mcms.imageRelativePath</param-name>
		<param-value>WEB-INF/file-store</param-value>
	</context-param>
	
	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error404</location>
	</error-page>

</web-app>